body {
    margin: 0px;
}

#info {
    position: absolute;
    right: 15px;
    bottom: 18px;
    width: 13px;
    height: 13px;
    top: 146px;
    left: 339px;
}

#back {
    display: none;
}

#done {
    position: absolute;
    width: 52px;
    right: 57px;
    margin-left: auto;
    bottom: 41px;
    margin-top: auto;
}

#front-image {
    width: 377px;
    height: 241px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    -webkit-filter: drop-shadow(0px 0px 8px #000000);
    filter: drop-shadow(0px 0px 8px #000000);
}

#inner_image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#front-shadow {
    width: 377px;
    height: 241px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    top: 0px;
    left: 0px;
}

#inner_image1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#back-image {
    width: 377px;
    height: 241px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    -webkit-filter: drop-shadow(0px 0px 8px #000000);
    filter: drop-shadow(0px 0px 8px #000000);
    top: 0px;
}

#inner_image2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#back-shadow {
    width: 377px;
    height: 241px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 0px;
    top: 0px;
}

#inner_image3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#back-text-01 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    color: rgb(255, 255, 255);
    left: 178px;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    top: 42px;
    right: 50px;
    width: auto;
    bottom: 177px;
    height: auto;
}

.selected #back-text-01 {
    color: white;
}

#back-text-02 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-family: 'Helvetica Neue';
    left: 178px;
    top: 77px;
    right: 79px;
    width: auto;
    bottom: 135px;
    height: auto;
}

.selected #back-text-02 {
    color: white;
}

#back-text-03 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-family: 'Helvetica Neue';
    left: 178px;
    top: 114px;
    right: 55px;
    width: auto;
    bottom: 89px;
    height: auto;
}

.selected #back-text-03 {
    color: white;
}

#shadow-checkbox {
    font-family: HelveticaNeue;
    font-size: 10pt;
    height: 18px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 58px;
    width: 156px;
    top: 167px;
}

#shadow-div {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-size: 11px;
    left: 18px;
    top: 3px;
    right: 0px;
    width: auto;
    bottom: 0px;
    height: auto;
}

#now-cover {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    left: 29px;
    top: 91px;
    width: 61px;
    height: 61px;
}

#now-cover-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#last-cover {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 33px;
}

#last-cover-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#next-cover {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 40px;
    height: 40px;
    top: 171px;
    left: 50px;
}

#next-cover-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#last-time {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    top: 33px;
    left: 148px;
    color: rgb(128, 128, 128);
    right: 187px;
    width: auto;
    height: auto;
    bottom: 197px;
}

.selected #last-time {
    color: white;
}

#now-time {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    color: rgb(128, 128, 128);
    left: 176px;
    top: 93px;
    right: 156px;
    width: auto;
    bottom: 137px;
    height: auto;
}

.selected #now-time {
    color: white;
}

#next-time {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    font-size: 10px;
    color: rgb(128, 128, 128);
    right: 164px;
    min-height: 12px;
    top: 171px;
    left: 125px;
    width: 47px;
    bottom: 59px;
    height: auto;
}

.selected #next-time {
    color: white;
}

#last-title {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: rgb(112, 112, 112);
    left: 100px;
    white-space: nowrap;
    right: 52px;
    width: auto;
    height: auto;
    bottom: 178px;
    top: 44px;
}

.selected #last-title {
    color: white;
}

#last-artist {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(112, 112, 112);
    font-family: 'Helvetica Neue';
    left: 100px;
    font-size: 12px;
    top: 61px;
    right: 52px;
    width: auto;
    bottom: 164px;
    height: auto;
    white-space: nowrap;
}

.selected #last-artist {
    color: white;
}

#next-title {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: rgb(112, 112, 112);
    right: 41px;
    width: 225px;
    min-height: 20px;
    top: 182px;
    left: 100px;
    bottom: 40px;
    height: auto;
    white-space: nowrap;
}

.selected #next-title {
    color: white;
}

#next-artist {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(112, 112, 112);
    font-family: 'Helvetica Neue';
    font-size: 12px;
    right: 42px;
    width: 225px;
    min-height: 17px;
    top: 199px;
    left: 100px;
    bottom: 26px;
    height: auto;
    white-space: nowrap;
}

.selected #next-artist {
    color: white;
}

#now-title {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Helvetica Neue';
    right: 41px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 245px;
    left: 100px;
    top: 105px;
    white-space: nowrap;
    min-height: 24px;
    bottom: 113px;
    height: auto;
}

.selected #now-title {
    color: white;
}

#now-artist {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    right: 42px;
    min-height: 17px;
    font-size: 14px;
    top: 126px;
    left: 100px;
    color: rgb(0, 0, 0);
    width: 245px;
    bottom: 99px;
    height: auto;
    white-space: nowrap;
}

.selected #now-artist {
    color: white;
}

#now-album {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: 'Helvetica Neue';
    right: 42px;
    min-height: 17px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    left: 100px;
    top: 142px;
    width: 233px;
    bottom: 83px;
    height: auto;
    white-space: nowrap;
}

.selected #now-album {
    color: white;
}

#https-checkbox {
    font-family: HelveticaNeue;
    font-size: 10pt;
    height: 18px;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 156px;
    left: 58px;
    top: 183px;
}

#https-div {
    position: absolute;
    text-align: left;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-size: 11px;
    left: 18px;
    top: 3px;
    right: -19px;
    width: auto;
    bottom: 0px;
    height: auto;
}

#box {
    border-color: black;
    border-width: 1px;
    position: absolute;
    margin-top: 0px;
    left: 20px;
    top: 82px;
    width: 334px;
    height: 79px;
}

#back-text-04 {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica Neue';
    font-size: 9px;
    left: 300px;
    top: 66px;
    right: 53px;
    width: auto;
    bottom: 162px;
    height: auto;
}

.selected #back-text-04 {
    color: white;
}
